<table class="palm-divider labeled">
	<tr>
		<td class="left"></td>
		<td class="label">
			#{title}
		</td>
		<td class="right"></td>
	</tr>
</table>
<div class="palm-row my-separator">
	<div class="palm-list">
		<div class="palm-row">
			<div class="palm-row-wrapper othercoolwrap">
				<div class="ocool-description">#{desc}</div>
				<div class="ocool-preview"><span class="style_image">
					<a href="#{link}"><img src="#{image}" align="right" hspace="4" vspace="4" /></a>
					</span>
				</div>
					<div style="clear: both;"></div>
			</div>
			<div class="ocool-clickbanner">Tap the icon for details!</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>